@import "style/variaveis.scss";

.rodape {
  display: flex;
  justify-content: center;
  background-color: $preto;
  margin-top: 1rem;

  h2 {
    font-weight: 400;
    font-size: 18px;
    color: $branco;
  }
}
